html body {
    background-color: #e6e6e6;
}
#logo{
    width: auto;
    height: 35px;
    padding-bottom: 5px;
}

.carusel {
    margin-top: 15px;
    height: 500px;


}
#myCarousel{
    margin-top: 75px;

}

.container {
    /*background-color: #e6e6e6;*/
    
}

footer {
    background-image: url("img/footer.jpg");
    padding-bottom: 75px;
    color: white;
}

#map {
    height: 400px;
    width: 90%;
    margin-left: 20px;
    color: black;

}

.form-group {

    margin-top: 50px;
}

button {
    float: right;
    transition: all 500ms ease-in-out;
}

button:hover {
    transform: skew(-20deg);
    
}

.iconsLogo {
    transition: all 1500ms ease-in-out;
    margin-left: 10px;
    font-size: 89px;
}

.iconsLogo:hover {
    color: #0f0f0f;
    transform: scale(2.1);
    transform: skew(-20deg);
}
.floatImg {
    height: 350px;
    width: 375px;
    padding-left: 50px;
    padding-top: 75px;
    position: relative;
}
h1{
    text-align: center;
    padding: 15px;
    font-size: 40px;
}
h3{
    padding-left: 20px;
}
p{
    padding: 20px;
    font-size: 20px;
}
.imgOK{
    height: 350px;
    width: 100%;
    padding-top: 80px;
    margin: 20px;

}
.imgOK404{
    height: 500px;
    width: 650px;
    position: relative;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 50px;
    text-align: center;

}
#replyBackButton{
    color: red !important;
    margin-right: 300px;
}
.pull-right {
    float: right !important;
}
iframe{
    margin-top: 75px;

}


